<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>

    <h2>Saved Bookmarks:</h2>

    {% for k in savedText %}
      <h4>{{ k }}</h4>
      {% for d in savedText[k] %}          
        <li>
          <a href='{{ d.url }}'>{{ d.title }}</a>&nbsp;&nbsp;&nbsp;<a href="/delete_snippet/{{ d.id }}">Delete</a>

          <ul>
            <li><p>{{ d.selected_text }}</p></li>
          </ul>

        </li>

      {% endfor %}
    {% endfor %}


    <script>

      var formElements = document.getElementsByTagName('form')

      for (i=0; i<=formElements.length-1; i++){
        formElements[i].style.display = "none";
      }

      function displayForm(obj_id) {
        console.log(obj_id)
        document.getElementById(obj_id).style.display = "block";        
      }

      function toggleNote(id) {
        var div = document.getElementById(id)
        if (div.style.display == 'none') {
          div.style.display = 'block'
        } else {
          div.style.display = 'none'
        }        
      }
      // TODO: sort order by createDate
      
    </script>

  </body>
  
    

</html>


